<footer class="bd-footer py-3 mt-5 bg-body-tertiary rounded-3">
  <div class="px-4 px-md-3 text-body-secondary">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-12 col-lg-6">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none">
          <img src="../../../../assets/images/logo.png" alt="logo" routerLink="/" class="footer-logo">
        </a>
      </div>
      <div class="col-12 col-lg-6">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a routerLink="/">Home</a></li>
          <li class="mb-2"><a routerLink="/authors">Authors</a></li>
          <li><a routerLink="/qa">Q & A</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
