<main class="content">

  <section class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let author of authorsList">
      <div class="card">
        <img [src]="author.imageUrl" class="card-img-top card-image" alt="default">
        <div class="card-body">
          <h4 class="card-title">{{ author.name }}</h4>
        </div>
        <div class="card-footer center-flex">
          <div class="comments">
            <img src="assets/icons/messages.svg" alt="comments" width="16" height="16">
            <span class="mx-1">{{ author.totalComments }}</span>
          </div>
          <div class="posts">
            <img src="assets/icons/article.svg" alt="article">
            <span class="mx-1">{{ author.totalPosts }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <section class="row mt-3" *ngIf="totalAuthors > authorsList.length">-->
<!--    <div class="col-12">-->
<!--      <button class="btn main-btn mx-auto" (click)="loadMore()" >See More</button>-->
<!--    </div>-->
<!--  </section>-->

</main>
